# Data manipulation and analysis
pandas>=1.5.0  # Ensuring compatibility with Python 3.7 and above
numpy>=1.26.0

# Data visualization
matplotlib>=3.9.2
seaborn>=0.13.2

# Jupyter and IPython packages
ipykernel==6.29.5
ipython==8.27.0
jupyter_client==8.6.3

# Progress bar for loops
tqdm>=4.64.1

# Additional dependencies (if used)
python-dateutil==2.9.0.post0
gunicorn==20.1.0  # You can specify a version or use the latest
streamlit

